.App {
  text-align: center;
  width: 100%;
}
/*TODO necesito trabajar el estilo del component Registro*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1a6173;
  width: 100%;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
}
.RegistroDigital {
  width: 98%;
  padding: 15px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 30px;
  box-shadow: 20px 11px 96px -1px rgba(0,0,0,0.41);
}





