.App {
	text-align: center;
	width: 100%;
}
/*TODO necesito trabajar el estilo del component Registro*/

.RegistroDigital {
	width: 98%;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	box-shadow: 20px 11px 96px -1px rgba(0, 0, 0, 0.41);
}
