.App {
	text-align: center;
	width: 100%;
}
/*TODO: necesito trabajar el estilo del component Registro*/

.RegistroDigital {
	width: 98%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.blockShort {
	border: 2px solid rgb(182, 67, 67);
	max-width: 45%;
	margin-inline-end: auto;
	margin-block-end: auto;
}
.block {
	border: 1px solid #000;

	margin-inline-end: auto;
}
